<!DOCTYPE HTML>
<!--
	UI theme adapted from:
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Student Apply</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>

<style>
    #nav {
        background-color: #3b1b0C;

    }

    #image {
        vertical-align: middle;
    }
    img {
        width: 100%;
    }
    .container-lg {
        background-image: url("https://basecampcodingacademy.org/images/header-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .nav-link {
        color: #999898;
    }
    #info{
        margin: 1rem 8rem 0rem 8rem;
    }
    #about{
            font-size: 3rem;
    }
     @media only screen and (max-width: 880.5px) {
        body{
            width: 100%;
            padding: 0px;
        }

        #info {
            font-size: .8rem;
            width: 97%;
            margin: 1rem .5rem 0rem .5rem;
        }

        #info h1 {
            font-size: 1.3rem;
        }

        #nav *{
            font-size: 1rem;
            margin: 0rem;

        }
        #list {
            margin: 0rem;
        }
        h4 {
            font-size: 1rem;
        }
        #about{
            font-size: 2rem;
        }


    }
</style>

<body class="is-preload">

<nav id="nav" class="navbar navbar-expand-lg sticky-top">
    <div class="container collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="list" class="navbar-nav mr-auto">
            <div class="d-flex">
            <li class="nav-item active mr-5">
                <h3><a class="nav-link" href="/students">Admin<span class="sr-only">(current)</span></a></h3>
            </li>
            <li class="nav-item mr-auto">
                <h3><a class="nav-link" href="/2">Sign Up</a></h3>
            </li>
            <li class="nav-item mr-auto ml-5">
                <h3><a class="nav-link" href="/">Home</a></h3>
            </li>
            </div>
        </ul>
    </div>
</nav>
<div class="container-lg">
    <div class="col-12 row">

        <a class="my-5 mx-auto" href="#"><img id="image" src="https://basecampcodingacademy.org/images/header-logo.png" ></a>
    </div>
</div>

<div id="info">
    <p id="about">
        About
    </p>
    <p>
        Located in Water Valley, MS, Base Camp Coding Academy (BCCA) is a hands-on, challenging and fun program, designed to train students to be software developers in 12 months.
        </p>
        <p>In a small classroom setting, you will work with real world technologies to learn the fundamentals of coding, app development and the life leadership skills you will need to be successful in your career and competitive in the job market.
    </p>
    <h1>
        What does it take to attend Base Camp Coding Academy?
    </h1>
    <p>
        <h4>Step 1: Nomination</h4>

    <p>Any Mississippi student in their senior year may be nominated to Base Camp by a teaching professional. Once a student is nominated they will be invited to complete an application.</p>
        <h4>Step 2: Demonstrate a Strong Heart and Mind</h4>

    <p>Becoming a fantastic software developer takes hard work and dedication</p>
        <h4>Step 3: Show Up, and Work Hard</h4>

    <p>Each class of 15 to 20 students will work together every weekday for 12 months to master this skill set</p>
        <h4>Step 4: Graduate, and Land a Great Job</h4>
    <p>Base Camp is successful when our students are successful in their careers</p>
        <h4>Step 5: Be Fantastic</h4>

    <p>Every graduate carries the reputation of Base Camp with them into the workforce. We expect you to represent</p>
    </p>
    <h1>
        What don’t you need to attend Base Camp Coding Academy?
    </h1>
    <h4>Money.</h4>
    <p>
        Every student accepted into Base Camp Coding Academy receives a 100% scholarship.</p>

        <p>Thanks to the generous support of Mississippi’s business and philanthropic leaders, Base Camp Coding Academy is a not for profit 501(c)(3) program.
    </p>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>