<!DOCTYPE html>
<!--
	UI theme adapted from:
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Student Apply</title>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <link rel="stylesheet" href="/css/main.css" />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
    />
    <noscript> <link rel="stylesheet" href="/css/noscript.css"/></noscript>
</head>
<style>
        #image {
            vertical-align: middle;
        }
        .container-lg {
            background-image: url("https://basecampcodingacademy.org/images/header-background.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        body {
            background-color: #e7e6e6;
        }
        #EQ {
            background-color: white;
            margin: 3rem;
            padding: 2rem;
            width: 65%;
        }
        .card {
            background-color: white;
            width: 65%;
        }
        label {
            font-size: 1rem;
        }
        .form-control {
            width: 50%;
        }
        .card {
            margin: 3rem;
            margin-left: 10rem;
            padding: 2rem;
            border: black;
        }
        #Qbtn {
            padding: 0.55rem;
        }
        #Eligible {
            display: none;
            width: 65%;
        }
        #EQ label{
                font-size: 2rem;
            }
        @media only screen and (max-width: 880.5px) {
            .container {
                width: 100%;
                padding: 0px;
            }
            .card {
                width: 95%;
                margin: 0.5rem;
                padding: 1rem;
            }
            .form-control {
                width: 80%;
            }
            #Eligible{
                width: 95%;
            }
            #EQ{
                width: 95%;
                padding: .5rem;
                margin: .5rem;
            }

        }
    </style>

<body class="is-preload">
<div class="container-lg">
    <div class="col-12 row">
        <a class="my-5 mx-auto" href="#"><img id="image" src="https://basecampcodingacademy.org/images/header-logo.png" ></a>
    </div>
</div>
<div class="container">
    <div class="d-flex justify-content-center">
    <div id="EQ" class="form-group border border-dark rounded ">
        <h3><label>Eligible?</label></h3>
        <h6>
            Are you a high school seanior? Have you been nominated? Do
            you live in north Mississippi?
        </h6>
        <button id="Ybtn" class="btn border border-dark rounded">
            Yes
        </button>
        <!--<input class="form-control" type="radio" name="EligibilityRequirements" value="Yes">-->
        <!--<label>Yes</label>-->
        <button id="Nbtn" class="btn border border-dark rounded">
            No
        </button>
        <!--<input class="form-control" type="radio" name="EligibilityRequirements" value="No">-->
        <!--<label>No</label>-->
    </div>
    </div>
    <div class="d-flex justify-content-center">
        <form id="Eligible" class="card border border-dark rounded w-65" action="/thankYou" method="POST">
            <!--<input type="hidden" name="studentName" value="">-->
            <div>
                <div class="form-group">
                    <label for="StudentName">Name</label>
                    <input class="form-control" required id="StudentName" type="text" name="StudentName" placeholder="What is your name?"/>
                </div>
                <div class="form-group">
                    <h5><label>School</label></h5>
                    <input class="form-control" required type="text" name="SchoolDistrict" placeholder="What School are you from?"/>
                </div>
                <div class="form-group">
                    <h5><label>Email</label></h5>
                    <input class="form-control" required type="email" name="Email" placeholder="Email@.com"/>
                </div>
                <div class="form-group">
                    <h5><label>Age</label></h5>
                    <input class="form-control" required type="number" name="Age" min="17" max="20"/>
                </div>

                <div class="form-group">
                    <h5><label>Phone (XXX-XXX-XXXX)</label></h5>
                    <input class="form-control" required type="text" pattern="^\d{3}-\d{3}-\d{4}$" name="PhoneNumber" placeholder="XXX-XXX-XXXX"/>
                </div>
                <div class="form-group">
                    <h5><label>Grad. Date</label></h5>
                    <input class="form-control" required type="date" name="gradDate"/>
                </div>
                <div class="form-group">
                    <h5><label>Aptitude</label></h5>
                    <textarea class="form-control" name="Aptitude" required placeholder="Please Share a specific example of your dedication and work ethic."></textarea>
                </div>
                <div class="form-group">
                    <h5><label>Work Ethic</label></h5>
                    <textarea class="form-control" name="WorkEthic" required placeholder="Please Share a specific example of your dedication & hard work."></textarea>
                </div>
                <div class="form-group">
                    <h5><label>Passion</label></h5>
                    <textarea class="form-control" name="Passion" required placeholder="Please tell us about something you are passionate about and have worked hard to achieve."></textarea>
                </div>
                <div class="form-group">
                    <h5><label>Interview Date</label></h5>
                    <input class="form-control" required type="date" name="interviewDate" placeholder="When would be a great time for us to meet?"/>
                </div>
                <input class="btn border border-dark rounded" type="submit" value="Submit"/>
            </div>
        </form>
    </div>

    <div class="d-flex justify-content-center" >
        <form action="/end" class="card border border-dark rounded w-65" id="Q" style="display: none" method="POST">
            <!--<input type="hidden" name="studentName" value="">-->
            <div>
                <div class="form-group">
                    <label for="StudentName">Name</label>
                    <input class="form-control" required id="StudentName" type="text" name="name" placeholder="What is your name?"/>
                </div>
                <div class="form-group">
                    <h3><label>School</label></h3>
                    <input class="form-control" required type="text" name="district" placeholder="What School are you from?"/>
                </div>
                <div class="form-group">
                    <h3><label>Email</label></h3>
                    <input class="form-control" required type="email" name="Email" placeholder="Email@.com"/>

                </div><input class="btn border border-dark rounded" type="submit" value="Submit"/>
            </div>
        </form>
    </div>
</div>
</body>
<script>
        var yes = document.getElementById("Ybtn");
        var no = document.getElementById("Nbtn");
        var nonEligible = document.getElementById("Q");

        var question = document.getElementById("EQ");
        yes.addEventListener("click", () => {
            document.getElementById("Eligible").style.display = "block";
            question.style.display = "none";
        });

        no.addEventListener("click", () => {
            nonEligible.style.display = "block";
            question.style.display = "none";
        });


    </script>

<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>
</html>
