<!DOCTYPE HTML>
<!--
	UI theme adapted from:
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>BaseCamp</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/home/basecamp/web_dev/vscode-java/basecampnomination/css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <noscript> <link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>
<style>
    #nav {
        background-color: #3b1b0C;

    }

    #image {
        vertical-align: middle;
    }
    img {
        width: 100%;
    }
    .container-lg {
        background-image: url("https://basecampcodingacademy.org/images/header-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .nav-link {
        color: #999898;
    }
</style>

<body>
<nav id="nav" class="navbar navbar-expand-lg sticky-top">
    <div class="container collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="list" class="navbar-nav mr-auto">
            <li class="nav-item active">
                <h3><a class="nav-link" href="/students">Admin<span class="sr-only">(current)</span></a></h3>
            </li>
            <li class="nav-item mr-auto ml-5">
                <h3><a class="nav-link" href="/2">Sign Up</a></h3>
            </li>

        </ul>
    </div>
</nav>
<div class="container-lg">
<div class="col-12 row">

    <a class="my-5 mx-auto" href="#"><img id="image" src="https://files.slack.com/files-pri/T1K15MV0X-FGK0DTZEV/header-logo.png" ></a>

</div>
</div>
<div style="margin: 1rem 8rem 0rem 8rem;">
    <h1>
        What is Base Camp Coding Academy
    </h1>
    <p>
        Located in Water Valley, MS, Base Camp Coding Academy (BCCA) is a hands-on, challenging and fun program, designed to train students to be software developers in 12 months.
    </p>
    <p>
        In a small classroom setting, you will work with real world technologies to learn the fundamentals of coding, app development and the life leadership skills you will need to be successful in your career and competitive in the job market.
    </p>
    <a href="/about">Read more...</a>
</div>
<div class="container">
    <img src="https://files.slack.com/files-pri/T1K15MV0X-FGM5V6MGW/class-of-2019.jpg" alt="#">
</div>

</body>
</html>