<!DOCTYPE HTML>
<!--
	UI theme adapted from:
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Student Application</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>

<style>
    #nav {
        background-color: #3b1b0C;
        color: #999898;
    }
    #image {
        vertical-align: middle;
    }
    body {
            background-color: #e7e6e6;
        }
    img {
        width: 100%;
    }
    .container-lg {
        background-image: url("https://basecampcodingacademy.org/images/header-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .nav-link {
        color: #999898;
    }
    li {
        list-style: none;
    }
    #info{
        background-color: white;
        margin: 2rem auto 0rem auto;
        width: 50%;
        padding: 1rem 4rem 4rem 4rem;
    }
    #studentInfo {
        margin: 1rem auto 2rem 0rem;
    }
    #contact {
        margin-top: 1rem;
    }

    fieldset {
      display: block;
      margin-left: 2px;
      margin-right: 2px;
      padding-top: 0.35em;
      padding-bottom: 0.625em;
      padding-left: 0.75em;
      padding-right: 0.75em;
      border: 2px groove;
      border-radius: 10px;
    }
    legend {
        width: 6rem;
    }
    #workEthic {
        width: 7.5rem;
    }

    @media only screen and (max-width: 880.5px) {
        #nav *{
            font-size: 1rem;
            margin: 0rem;
        }
        body{
            width: 100%;
            padding: 0px;
        }
        #list h1{
            font-size: 2rem;
            padding-left: 2rem;
        }

        #list h3{
            padding-left: 6rem;
        }

        #info{
            padding: .3rem;
            margin: .2rem .3rem 0rem .3rem;
            width: 95%;
        }
        h5{
            font-size: .82rem;
        }
        h3{
            font-size: 1.1rem;
        }


    }

</style>

<body>
<nav id="nav" class="navbar navbar-expand-lg sticky-top">
    <div class="container collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="list" class="navbar-nav mr-auto">

            <li class="nav-item mr-auto">
                <h1>Welcome Mr.Sean</h1>
            </li>
            <li class="nav-item mr-auto ml-5">
                <h3><a class="nav-link" href="/">Home</a></h3>
            </li>

        </ul>
    </div>
</nav>

<div class="container-lg">
    <div class="col-12 row">

        <a class="my-5 mx-auto" href="#"><img id="image" src="https://basecampcodingacademy.org/images/header-logo.png" ></a>
    </div>
</div>


<div id="info" class="container border border-dark rounded">
{{#student}}
    <div class="d-flex">
        <div id="studentInfo">
            <h3><p>{{StudentName}}, {{Age}}</p></h3>
            <h5><p>{{SchoolDistrict}}, School District</p></h5>
            <!--<h3><p></p></h3>-->
        </div>
        <div id="contact">
            <h5><p>Phone: {{PhoneNumber}}</p></h5>
            <h5><p>BCCA Meeting: {{interviewDate}}</p></h5>
            <h5><p>Grad. Date: {{gradDate}}</p></h5>
        </div>
    </div>
    <fieldset><legend>Aptitude</legend><p>{{Aptitude}}</p></fieldset>
    <fieldset><legend id="workEthic">Work Ethic</legend><p>{{workEthic}}</p></fieldset>
    <fieldset><legend>Passion</legend><p>{{passion}}</p></fieldset>
{{/student}}
</div>
</body>

</html>