<!DOCTYPE HTML>
<!--
	UI theme adapted from:
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Student Apply</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>
<style>
       #nav {
        background-color: #3b1b0C;

    }

    #image {
        vertical-align: middle;
    }
    img {
        width: 100%;
    }
    .container-lg {
        background-image: url("https://basecampcodingacademy.org/images/header-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .nav-link {
        color: #999898;
    }
    #info{
        margin: 1rem 8rem 0rem 8rem;
    }
     @media only screen and (max-width: 880.5px) {

        body{
            width: 100%;
            padding: 0px;
        }

        #info {
            width: 97%;
            margin: 1rem .5rem 0rem .5rem;
        }

        #info h3 {
            font-size: 1.5rem;
        }

        #nav *{
            font-size: 1rem;
            margin: 0rem;

        }
        #list {
            margin: 0rem;
        }


    }
</style>

<body class="is-preload">

<nav id="nav" class="navbar navbar-expand-lg sticky-top">
    <div class="container collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="list" class="navbar-nav mr-auto">
            <div class="d-flex">

                <li class="nav-item active">
                    <h3><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></h3>
                </li>
            </div>
        </ul>
    </div>
</nav>
<div class="container-lg">
    <div class="col-12 row">

        <a class="my-5 mx-auto" href="#"><img id="image" src="https://basecampcodingacademy.org/images/header-logo.png" ></a>
    </div>
</div>

<div id="info" class="container text-center mt-5">
    <h3>Thank You for signing up for <a href="/">Base Camp Coding Academy</a></h3>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>