<!DOCTYPE HTML>
<!--
	UI theme adapted from:
	Story by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Student Application</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>

<style>
    body {
            background-color: #e7e6e6;
       }
    #nav {
        background-color: #3b1b0C;
        color: #999898;
    }
    #image {
        vertical-align: middle;
    }
    img {
        width: 100%;
    }
    .container-lg {
        background-image: url("https://basecampcodingacademy.org/images/header-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .nav-link {
        color: #999898;
    }
    li {
        list-style: none;
    }
    #student{
        background-color: white;
        margin: 2rem auto 0rem auto;
        width: 50%;
        padding: 1rem 4rem 4rem 4rem;
    }
    fieldset {
      display: block;
      margin-left: 2px;
      margin-right: 2px;
      padding-top: 0.35em;
      padding-bottom: 0.625em;
      padding-left: 0.75em;
      padding-right: 0.75em;
      border: 2px groove;
      border-radius: 10px;
    }
    legend {
        width: 6rem;
    }
    #info {
        width: 9.5rem;
    }
    @media only screen and (max-width: 880.5px) {
        #image {
            margin-left: 1rem;
        }
        #nav *{
            font-size: 1rem;
            margin: 0rem;
        }
        body{
            width: 100%;
            padding: 0px;
        }
        #student{
            padding: .3rem;
            margin: .2rem .3rem 0rem .6rem;
            width: 95%;
        }
        h5{
            font-size: .82rem;
        }
        h3{
            font-size: 1.1rem;
        }

        #list h1{
            font-size: 2rem;
            padding-left: 2rem;
        }

        #list h3{
            padding-left: 6rem;
        }

    }
</style>

<body>
<nav id="nav" class="navbar navbar-expand-lg sticky-top">
    <div class="container collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="list" class="navbar-nav mr-auto">
                <li class="nav-item mr-auto">
                    <h1>Welcome Mr.Sean</h1>
                </li>
                <li class="nav-item mr-auto ml-5">
                    <h3><a class="nav-link" href="/">Home</a></h3>
                </li>
        </ul>
    </div>
</nav>

<div class="container-lg">
    <div class="col-12 row">

        <a class="my-5 mx-auto" href="#"><img id="image" src="https://basecampcodingacademy.org/images/header-logo.png" ></a>
    </div>
</div>

<div id="student" class="container border border-dark rounded">
    {{#uestudent}}
        <fieldset>
            <legend id="info">Applicant Info</legend>
            <h3><p>{{name}}</p></h3>
            <h5><p>Email: {{email}}</p></h5>
            <h5><p>High School: {{district}}</p></h5>
        </fieldset>
    {{/uestudent}}
</div>
</body>
<script>
    <!--var strings = document.querySelectorAll('h3');-->
    <!--for (var i = 0; i < strings.length; i++){-->
        <!--if (strings[i] == null) {-->
            <!--console.log(strings[i])-->
        <!--}-->
    <!--}-->
</script>
</html>